SHELL=/bin/bash
HOME=/var/lib/jenkins
PATH=/home/ubuntu/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=me@aol.com

# m h  dom mon dow   command

# regularly update jenkins jobs
00 02 * * * $HOME/bin/nightly-update >> $HOME/test-runner.log 2>&1
00 03 * * * $HOME/bin/run-charm-jobs >> $HOME/test-runner.log 2>&1


